:root {
  --primary-color: #ab0534;
  --secondary-color: #010101;
  --text-color: #ffffff;

  --font-family-base: "Inter", sans-serif;
}
html {
    overflow-x: hidden;
  }
body {
  margin: auto;
  background-color: var(--primary-color);
  font-family: var(--font-family-base);
  color: var(--text-color) !important;
}
footer {
  background-color: var(--secondary-color);
  height: 50px;
  font-family: var(--font-family-base);
}
.header-wrapper {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  padding-right: 7rem;
}

.socialWrapper {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 80px;
  position: absolute;
  top: 0%;
  left: 18%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 2;
  padding: 0;
}
.invino {
  width: 100%;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: var(--text-color);
  font-weight: 200;
  padding: 1rem;
}
.burgerMenu {
  display: none;
  width: 40px;
  height: 40px;
  padding-right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger {
  object-fit: fill;
}

.menuMobile {
  display: none;
  position: absolute;
  transform: translateX(100%);
  width: 100px;
  height: 400px;
  right: -100%;
  transition: 0.4s ease-in;
  visibility: hidden;
 
}

.menuMobile.active {
transform: translateX(0);
  right: 0;
  top: 70px;
  z-index: 1;
  visibility: visible;
}

.socialWrapper1{
  display: flex;
  flex-direction: column;
}
a.socialSignMobile{
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 1rem;
 
}

.footerWrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: lighter;
  font-size: x-small;
  gap: 10px;
}

.closeMenu.hidden,
.menuMobile {
  display: none;
}
.burgerMenu.hidden {
  display: none;
}

@media screen and (max-width: 769px) {
  .header-wrapper {
    padding-right: 1rem;
  }
  .socialSign {
    display: none;
  }
  .menu {
    display: none;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    align-items: flex-start;
    
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0;
    padding-top: 1rem;

  }
  .burgerMenu {
    display:inline-block;
  }
  .burger {
    width: 40px;
    height: 40px;
  }
  .logo {
    left: 5%;
  }

  .textWrapper {
    padding: 30px;
  }
  .menuMobile.active {
    display: flex; /* Visible only when active */
    transform: translateX(0); /* Slide in */
    width: 200px;
  }

}
